{% block flash_message_component %}
    {% for type, message in messages %}
        {% for item in messages[type] %}
            <p class="tl_{{ type|lower }}">
                {{ item }}
            </p>
        {% endfor %}
    {% endfor %}
{% endblock %}
