{% extends "@Contao/frontend_module/_base.html.twig" %}
{% use "@Contao_MarkocupicCalendarEventBookingBundle/component/_flash_message.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{% set searchable = false %}

{% block content %}
    {% if addImage|default %}
        {# Render the event image #}
        {% with {figure: figure} %}{{ block('figure_component') }}{% endwith %}
    {% endif %}
    {% block messages %}
        {% if messages|default %}
            <div class="ceb-opt-in--messages">
                {# Render the messages. #}
                {% with {messages} only %}
                    {{ block('flash_message_component') }}
                {% endwith %}
            </div>
        {% endif %}
    {% endblock %}
    {% if optInSuccess|default %}
        {# Here you can place the success message #}
    {% endif %}
{% endblock %}
